:root {
  /* Permet de modifier la taille et certaines couleur du pc */
  /*Computer*/
  --computer-height: 250px; /* 250px de base*/
  --computer-computer-screen-color: rgb(255, 255, 255);
  --computer-background-color: rgb(255, 255, 255);
  --computer-color: rgba(0, 0, 0, 1);
  /*Phone*/
  --phone-height: 135px; /* 135px de base*/
  --phone-screen-color: rgb(255, 255, 255);

  /* NE PAS TOUCHER: Calcul pour resize fonctionnel du computer */
  /*Computer*/
  --computer-foot-height: calc(var(--computer-height) * 0.2);
  --computer-foot-width: calc(var(--computer-height) * 0.32);
  --computer-stand-height: calc(var(--computer-height) * 0.072);
  --computer-stand-width: calc(var(--computer-height) * 0.48);
  /*Phone*/
  --phone-width: calc(var(--phone-height) * 0.5259);
  --phone-border-radius: calc(var(--phone-height) * 0.0741);
  --phone-before-width: calc(var(--phone-height) * 0.2222);
  --phone-before-top: calc(var(--phone-height) * 0.037);
  --phone-after-size: calc(var(--phone-height) * 0.037);
  --phone-screen-height: calc(var(--phone-height) * 0.7556);
  --phone-screen-top: calc(var(--phone-height) * 0.0963);
  /*Phone*/
  --tablette-height: 180px; /* 180px de base*/
}

/* Ordinateur */
.computer {
  height: var(--computer-height);
  width: calc(var(--computer-height) * 1.6);
  border: calc(var(--computer-height) * 0.012) solid var(--computer-color);
  position: relative;
  border-radius: 10px;
  left: 50%;
}

.computer::before {
  content: "";
  position: absolute;
  height: calc(var(--computer-height) * 0.04);
  width: calc(var(--computer-height) * 0.04);
  border-radius: 50%;
  border: 2px solid var(--computer-color);
  top: calc(91% - (var(--computer-height) * 0.02));
  left: calc(50% - (var(--computer-height) * 0.02));
}

.computer-screen {
  content: "";
  height: calc(var(--computer-height) * 0.76);
  width: calc(var(--computer-height) * 1.4);
  border: calc(var(--computer-height) * 0.012) solid var(--computer-color);
  position: absolute;
  left: 50%;
  top: calc(var(--computer-height) * 0.08);
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: var(--computer-computer-screen-color);
}

.computer-foot {
  position: relative;
  top: 100%;
  left: calc(50% - (var(--computer-foot-width) / 2));
  width: var(--computer-foot-width);
  height: var(--computer-foot-height);
  background-color: var(--computer-color);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.computer-foot::before {
  content: "";
  position: absolute;
  top: calc(var(--computer-height) * 0.012);
  left: calc(var(--computer-height) * 0.012);
  width: calc(
    var(--computer-foot-width) - calc(var(--computer-height) * 0.024)
  );
  height: calc(
    var(--computer-foot-height) - calc(var(--computer-height) * 0.024)
  );
  background-color: var(--computer-background-color);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.computer-stand {
  position: relative;
  top: calc(100% - 3px);
  left: calc(50% - (var(--computer-stand-width) / 2));
  width: var(--computer-stand-width);
  height: var(--computer-stand-height);
  border: calc(var(--computer-height) * 0.012) solid var(--computer-color);
  border-radius: 10px;
}

/* Téléphone */
.phone {
  height: var(--phone-height);
  width: var(--phone-width);
  border: 3px solid black;
  border-radius: var(--phone-border-radius);
  position: relative;
  left: calc(var(--phone-width) * -0.7024);
}

.phone::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  width: var(--phone-before-width);
  left: 50%;
  transform: translateX(-50%);
  top: var(--phone-before-top);
}

.phone::after {
  content: "";
  position: absolute;
  height: var(--phone-after-size);
  width: var(--phone-after-size);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  top: 91.5%;
  left: 50%;
  transform: translateX(-50%);
}

.phone-screen {
  height: var(--phone-screen-height);
  width: var(--phone-width);
  border: 3px solid black;
  position: relative;
  left: -3px;
  top: var(--phone-screen-top);
  background-color: var(--phone-screen-color);
}

/* Cercle code */
.html-circle {
  height: 120px;
  width: 120px;
  position: relative;
  left: -30%;
  border-radius: 50%;
  border: 3px solid black;
}

/* Tablette */
.tablette {
  position: relative;
  height: var(--tablette-height);
  width: calc(var(--tablette-height) * 0.877);
  border-radius: 10px;
  border: 3px solid black;
}

.tablette-screen {
  position: relative;
  top: calc(15% - 3px);
  left: -3px;
  height: 153px;
  width:158px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid black;
}