:root {
  /* Permet de modifier les tailles et couleurs */
  --draw-scale: 200px;
  --border-draw : 2px;
  /*Computer*/
  --computer-height: calc(var(--draw-scale) * 1); /* 250px de base*/
  --computer-screen-color: rgb(255, 255, 255);
  --computer-background-color: rgb(255, 255, 255);
  --computer-border-color: rgba(0, 0, 0, 1);
  --computer-button-color: rgb(255, 255, 255);
  /*Phone*/
  --phone-height: calc(var(--draw-scale) * 0.54); /* 135px de base*/
  --phone-screen-color: rgb(255, 255, 255);
  --phone-background-color: rgb(255, 255, 255);
  --phone-border-color: rgb(0, 0, 0);
  --phone-button-color: rgb(255, 255, 255);
  /*Circle*/
  --circle-height: calc(var(--draw-scale) * 0.48); /* 120px de base*/
  --circle-background-color: rgb(255, 255, 255);
  --circle-border-color: rgb(0, 0, 0);
  --circle-content: rgb(0, 0, 0);
  /*Tablet*/
  --tablet-height: calc(var(--draw-scale) * 0.72); /* 180px de base*/
  --tablet-screen-color: rgb(255, 255, 255);
  --tablet-background-color: rgb(255, 255, 255);
  --tablet-border-color: rgb(0, 0, 0);
  /*Laptop*/
  --laptop-height: calc(var(--draw-scale) * 0.64); /* 160px de base*/
  --laptop-screen-color: rgb(255, 255, 255);
  --laptop-background-color: rgb(255, 255, 255);
  --laptop-border-color: rgb(0, 0, 0);
  /*Tablet2*/
  --tablet2-height: calc(var(--draw-scale) * 0.72); /* 180px de base*/
  --tablet2-screen-color: rgb(255, 255, 255);
  --tablet2-background-color: rgb(255, 255, 255);
  --tablet2-border-color: rgb(0, 0, 0);
  /*Mouse*/
  --mouse-height: calc(var(--draw-scale) * 0.076); /* 19px de base*/
  --mouse-background-color: rgb(255, 255, 255);
  --mouse-border-color: rgb(0, 0, 0);

  /* NE PAS TOUCHER: Calcul pour resize fonctionnel du computer */
  /*Computer*/
  --computer-width: calc(var(--computer-height) * 1.6);
  /*Phone*/
  --phone-width: calc(var(--phone-height) * 0.5259);
  --phone-border-radius: calc(var(--phone-height) * 0.0741);
  --phone-before-width: calc(var(--phone-height) * 0.2222);
  --phone-before-top: calc(var(--phone-height) * 0.037);
  --phone-after-size: calc(var(--phone-height) * 0.037);
  --phone-screen-height: calc(var(--phone-height) * 0.7556);
  --phone-screen-top: calc(var(--phone-height) * 0.0963);
  /*Circle*/
  --circle-width: var(--circle-height);
  /*Tablet*/
  --tablet-width: calc(var(--tablet-height) * 0.877);
  /*Laptop*/
  --laptop-width: calc(var(--laptop-height) * 1.6);
  /*Tablet2*/
  --tablet2-width: calc(var(--tablet2-height) * 1.18);
  /*Mouse*/
  --mouse-width: calc(var(--mouse-height) * 2);
}

/*-------------------------------- Draw --------------------------------*/
.draw {
  height: 315px;
  width: 812px; /* Pour 250px et border 2px) */
  position: relative;
  top: calc(50% - 157px);
  left: calc(50% - 406px);
  cursor: grab;
}

/*-------------------------------- Computer --------------------------------*/
.computer {
  height: var(--computer-height);
  width: var(--computer-width);
  border: var(--border-draw) solid var(--computer-border-color);
  border-radius: 10px;
  position: relative;
  left: calc(calc(var(--circle-height) * 0.85) + calc(var(--phone-width) / 2));
  background-color: var(--computer-background-color);
}

.computer::before {
  content: "";
  height: calc(var(--computer-height) * 0.04);
  width: calc(var(--computer-height) * 0.04);
  border: 2px solid var(--computer-border-color);
  border-radius: 50%;
  position: absolute;
  top: calc(91% - (var(--computer-height) * 0.02));
  left: calc(50% - (var(--computer-height) * 0.02));
  background-color: var(--computer-button-color);
}

.computer-screen {
  height: calc(var(--computer-height) * 0.76);
  width: calc(var(--computer-height) * 1.4);
  border: var(--border-draw) solid var(--computer-border-color);
  border-radius: 5px;
  position: absolute;
  top: calc(var(--computer-height) * 0.08);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--computer-screen-color);
}

.computer-foot {
  height: calc(var(--computer-height) * 0.2);
  width: calc(var(--computer-height) * 0.32);
  position: relative;
  top: 100%;
  left: calc(50% - (var(--computer-height) * 0.32 / 2));
  background-color: var(--computer-border-color);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.computer-foot::before {
  content: "";
  height: calc(
    var(--computer-height) * 0.2 - var(--border-draw) * 2);
  width: calc(
    var(--computer-height) * 0.32 - var(--border-draw) * 2);
  position: absolute;
  top: var(--border-draw);
  left: var(--border-draw);
  background-color: var(--computer-background-color);
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.computer-stand {
  height: calc(var(--computer-height) * 0.052);
  width: calc(var(--computer-height) * 0.48);
  border: var(--border-draw) solid var(--computer-border-color);
  border-radius: 10px;
  position: relative;
  top: calc(100% - 3px);
  left: calc(50% - (var(--computer-height) * 0.48 / 2 + 3px));
  background-color: var(--computer-background-color);
}

/*-------------------------------- Téléphone --------------------------------*/
.phone {
  height: var(--phone-height);
  width: var(--phone-width);
  border: var(--border-draw) solid var(--phone-border-color);
  border-radius: var(--phone-border-radius);
  position: relative;
  top: calc(-1 * var(--phone-height) / 1.8);
  left: calc(var(--circle-height) * 0.85);
  background-color: var(--phone-background-color);
}

.phone::before {
  content: "";
  width: var(--phone-before-width);
  border: 1px solid var(--phone-border-color);
  position: absolute;
  top: var(--phone-before-top);
  left: 50%;
  transform: translateX(-50%);
}
/*Button*/
.phone::after {
  content: "";
  height: var(--phone-after-size);
  width: var(--phone-after-size);
  border: 2px solid var(--phone-border-color);
  border-radius: 50%;
  position: absolute;
  top: 91.5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--phone-button-color);
}

.phone-screen {
  height: var(--phone-screen-height);
  width: var(--phone-width);
  border: var(--border-draw) solid var(--phone-border-color);
  position: relative;
  top: var(--phone-screen-top);
  left: calc(-1 * var(--border-draw));
  background-color: var(--phone-screen-color);
}

/*------------------------------- Circle code -------------------------------*/
.html-circle {
  height: var(--circle-height);
  width: var(--circle-width);
  border: var(--border-draw) solid var(--circle-border-color);
  border-radius: 50%;
  position: relative;
  top: calc(-1 * (var(--phone-height) + var(--circle-height) * 1.2));
  font-size: calc(var(--circle-height) * 0.5);
  font-weight: lighter;
  color: var(--circle-content);
  background-color: var(--circle-background-color);
}

.html-circle span {
  height: calc(100% - 10%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------- Tablet -----------------------------------*/
.tablet {
  height: var(--tablet-height);
  width: var(--tablet-width);
  border: var(--border-draw) solid var(--tablet-border-color);
  border-radius: 10px;
  position: relative;
  top: calc(-1 * (var(--phone-height) + var(--circle-height) + var(--tablet-height) * 1.85));
  left: calc(
    calc(var(--circle-height) * 0.85) + calc(var(--phone-width) / 2) +
      calc(
        calc(var(--computer-height) * 1.6) / 2 -
          calc((var(--tablet-height) * 0.877) / 1.6)
      )
  );
  background-color: var(--tablet-background-color);
}

.tablet-screen {
  height: calc(var(--tablet-height) * 0.85);
  width: var(--tablet-width);
  border: var(--border-draw) solid var(--tablet-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  top: calc(15% - var(--border-draw));
  left: calc(-1 * var(--border-draw));
  background-color: var(--tablet-screen-color);
}

/*-------------------------------- Laptop --------------------------------*/
.laptop {
  height: var(--laptop-height);
  width: var(--laptop-width);
  border: var(--border-draw) solid var(--laptop-border-color);
  border-radius: 10px;
  position: relative;
  top: calc(-1 * (var(--phone-height) + var(--circle-height) + var(--tablet-height) + var(--laptop-height) * 0.79));
  left: calc(var(--circle-width) + calc(var(--computer-width) * 0.8));
  background-color: var(--laptop-background-color);
}

.laptop-screen {
  height: calc(var(--laptop-height) * 0.85);
  width: calc(var(--laptop-height) * 1.45);
  border: var(--border-draw) solid var(--laptop-border-color);
  border-radius: 5px;
  position: absolute;
  top: calc(var(--laptop-height) * 0.05);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--laptop-screen-color);
}

.laptop-keyboard {
  height: calc(var(--laptop-height) * 0.08);
  width: calc(var(--laptop-height) * 1.8);
  border: var(--border-draw) solid var(--laptop-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 100%;
  left: calc(50% - (calc(var(--laptop-height) * 1.8) + 4px));
  transform: translateX(50%);
  background-color: var(--laptop-background-color);
}

.laptop-keyboard::before {
  content: "";
  height: calc(var(--laptop-height) * 0.025);
  width: calc(var(--laptop-height) * 0.2);
  border: 2px solid var(--laptop-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -2px;
  left: calc(50% - calc(var(--laptop-height) * 0.2) / 2);
  background-color: var(--laptop-background-color);
}

/*--------------------------------- Tablet2 ----------------------------------*/
.tablet2 {
  height: var(--tablet2-height);
  width: var(--tablet2-width);
  border: var(--border-draw) solid var(--tablet2-border-color);
  border-radius: 10px;
  position: relative;
  top: calc(-1 * (var(--phone-height) + var(--circle-height) + var(--tablet-height) + var(--laptop-height) + var(--tablet2-height) * 1.4));
  left: calc(
    var(--circle-width) + var(--computer-width) +
      calc(var(--laptop-width) * 0.3)
  );
  background-color: var(--tablet2-background-color);
}

.tablet-screen2 {
  height: calc(var(--tablet2-height) * 0.85);
  width: var(--tablet2-width);
  border: var(--border-draw) solid var(--tablet2-border-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  top: calc(15% - var(--border-draw));
  left: calc(-1 * var(--border-draw));
  background-color: var(--tablet2-screen-color);
}

/*-------------------------------- Mouse --------------------------------*/
.mouse {
  height: var(--mouse-height);
  width: var(--mouse-width);
  border: 2px solid var(--mouse-border-color);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  top: calc(-1 * (var(--phone-height) + var(--circle-height) + var(--tablet-height) + var(--laptop-height) + var(--tablet2-height) * 0.87));
  left: calc(
    var(--circle-width) + var(--phone-width) + var(--computer-width) +
      var(--tablet2-width) * 0.8
  );
  background-color: var(--mouse-background-color);
}

.mouse::before {
  content: "";
  height: calc(var(--mouse-height) * 0.15);
  border: 1px solid var(--mouse-border-color);
  position: absolute;
  left: calc(50% - 1px);
}

