:root {
  --primary-color: rgba(0,0,0);
  --secondary-color: rgba(255,255,255);
  --accent-color: rgba(255,55,64);
}

/*------------------------- Style et classe général --------------------------*/
* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

.flex-row {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

/*---------------------------------- Header ----------------------------------*/
#header {
  height: 8vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: var(--primary-color);
}

#header .logo {
  align-items: center;
}

#header .logo img {
  width: 170px;
}

#header nav ul {
  justify-content: center;
}

#header nav ul li a {
  font-size: 1.6rem;
  color: white;
  padding: 0 1rem;
  text-decoration: none;
}

.logo {
  color: white;
}
/*---------------------------------- MAIN ----------------------------------*/
/* HERO header */
#hero-header {
  height: 92vh;
  padding-top: 8vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#hero-header h2 {
  font-size: 7rem;
}

#hero-header h3 {
  font-size: 1.5rem;
}



.draw {
  display: none;
}

